<mat-tab-group *ngIf="categories"  [(selectedIndex)]="selectedCategoryIndex" (selectedTabChange)="updateCategoryIndex($event)">
<!--<mat-tab-group>-->
  <mat-tab *ngFor="let category of categories" label="{{category.name}}">
    <app-genres></app-genres>
    <!--<ng-content></ng-content>-->
  </mat-tab>
</mat-tab-group>

{{selectedCategoryIndex}}

<
<!--<div *ngIf="statusService.currentSelection.genres.length > 0">-->
  <!--<li *ngFor="let genre of statusService.currentSelection.genres">{{genre.name}}</li>-->
<!--</div>-->
