<mat-tab-group>
  <mat-tab *ngFor="let genre of genres" label="{{genre.name}}">
    <!--<ng-content></ng-content>-->
    <app-channels></app-channels>
  </mat-tab>
</mat-tab-group>

<!--<div *ngIf="statusService.currentSelection.selectedGenre">-->
  <!--{{statusService.currentSelection.selectedGenre.name}}}-->
<!--</div>-->
