<div class="options night">
  <div class="left">
    <!--<p class="inline-select-label">Channel Lineup for </p> -->
    <mat-form-field>
    <!--<mat-select [(value)]="selectedPlan.key">-->
    <mat-select>
      <mat-option *ngFor="let plan of plans" value="{{plan.key}}"> {{plan.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div class="center">{{title | uppercase}}</div>

  <div class="right">


    <button mat-icon-button>
      <mat-icon aria-label="Print icon">print</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon aria-label="Download icon">save_alt</mat-icon>
    </button>
  </div>
</div>

<!--<app-categories></app-categories>-->
