<app-plans></app-plans>
<app-categories></app-categories>


<!--<app-plans></app-plans>-->
<!--<app-categories>-->
  <!--<app-genres>-->
    <!--<app-channels></app-channels>-->
  <!--</app-genres>-->
<!--</app-categories>-->

